<h1>${bookData[0].name}</h1>

${bookData.map(book =>
  `
  <div class="box">
    <a href="/book/${book.id}"><img src="${book.image}" alt="${book.name}"></a>
    <div class="content">
      <a href="/book/${book.id}"><div class="title">${book.name}</div></a>
      <div class="subtitle">By: ${book.author}</div>
    </div>
  </div>

  <hr>

  <!-- add review form -->
  ${!!sessionData.is_logged_in ? `
    <div class="box">
      <form action="/book/review" method="POST">
        <input type="hidden" value="${sessionData.userId}" name="reviewer_id">
        <input type="hidden" value=${book.id} name="restaurant_id">
        <div class="field">
          <label class="label">Title: 
            <input type="text" name="review_title" placeholder="Review Title">
          </label>
          <label class="label">Rating: 
            <input type="radio" name="review_stars" value="1">${`<i class="fas fa-star"></i>`.repeat(1)}
            <input type="radio" name="review_stars" value="2">${`<i class="fas fa-star"></i>`.repeat(2)}
            <input type="radio" name="review_stars" value="3">${`<i class="fas fa-star"></i>`.repeat(3)}
            <input type="radio" name="review_stars" value="4">${`<i class="fas fa-star"></i>`.repeat(4)}
            <input type="radio" name="review_stars" value="5">${`<i class="fas fa-star"></i>`.repeat(5)}
          </label>
        </div>
        <div class="field">
          <label class="label">Your review: </label>
          <textarea name="review_review"></textarea>
        </div>
        <button type="submit" class="button is-success">Save Review</button>
      </form>
    </div>
  ` : `
      <div class="box">Please <a href="../user/login">LOGIN</a> to add a review!
      </div>!
  `}

  <!-- existing reviews for books -->
  <div class="columns is-mobile">
    <h3 class="column is-2">Reviews</h3>
    <div class="column">
    ${reviewData.map(review =>
        `
        <div class="box">
            <h4>${`<i class="fas fa-star"></i>`.repeat(review.stars)} ${review.title}</h4>
            <p>"${review.review}"</p>
            <p>- ${review.name}</p>
        </div>
        `
    )}
    </div>
</div>
  `
)}